#projetos{
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 72px 120px 144px;
gap: 56px;

width: 1307px;
height: 517px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

initial-pjt{
  width: 1040px;
  height: 300px;
  padding: 8px;
}

h1{
  font: var(--text-md);
  color: var(--gray-600);
  font-size: 24px;
}

h3{
  font: var(--subtitle-in);
  color: var(--red);
  text-align: center;
}


main{
width: 1340px;
height: 584px;
margin-top: -189px;
}

section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 0px;
  gap: 24px;

    h2{
      margin-top: 8px;
    }
}

.card{
display: flex;
flex-direction: column;
align-items: center;
padding: 12px;
gap: 20px;

width: 330px;
height: 280px;

background: #292C34;
border-radius: 12px;

flex: none;
order: 0;
flex-grow: 0;
  img{
    width: 306px;
    height: 156px;
    border-radius: 8px;}
      span{
      font: var(--text-sm), bold;
      color: var(--gray-600);}
        h2{
          font: var(--text-sm);
          color: var(--gray-500);
        }
}

